{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>{% block title %}FRMT{% endblock %}</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="{% static 'assets/img/faviconrs.png' %}" rel="icon" />
  <link
    href="{% static 'assets/img/apple-touch-iconrs.png' %}"
    rel="apple-touch-icon"
  />

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet"
  />

 <!-- Vendor CSS Files -->
 <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
 <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
 <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
 <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
 <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
 <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

 <!-- Template Main CSS File -->
 <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">


  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <!-- Fonts and Icons -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
    rel="stylesheet"
  />

  <!-- Nucleo Icons -->
  <link href="{% static 'assets2/css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'assets2/css/nucleo-svg.css' %}" rel="stylesheet" />

  <!-- Font Awesome Icons -->
  <script
    src="https://kit.fontawesome.com/42d5adcbca.js"
    crossorigin="anonymous"
  ></script>
  <link href="{% static 'assets2/css/nucleo-svg.css' %}" rel="stylesheet" />

  <!-- CSS Files -->
  <link
    id="pagestyle"
    href="{% static 'assets2/css/dashboard.css' %}"
    rel="stylesheet"
  />

  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is an easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA, and PECR. -->
  <script
    defer
    data-site="YOUR_DOMAIN_HERE"
    src="https://api.nepcha.com/js/nepcha-analytics.js"
  ></script>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'frmt-home' %}" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logonew.png' %}" alt="">
        <span class="d-none d-lg-block">FRMT</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Reminder</h4>
                <p>Revenue Reports are due tomorrow.</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Fire drills</h4>
                <p>Scheduled fire drills will commence in 2 hours</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Created new collection instance</h4>
                <p>You successfully created a new collection instance</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Generate revenue reports</h4>
                <p>You can use the system to generate revenue reports automatically.</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'assets/img/messages-1.jpg'%}" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Hello. The meeting is in an hour.</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'assets/img/messages-2.jpg'%}" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Please create new collector profiles for these people:...
                  </p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'assets/img/messages-3.jpg'%}" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Hello.</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="{% url 'frmt-profile' %}" data-bs-toggle="dropdown">
            <img src="{% static 'assets2/img/profile.webp' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.user_name}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user.user_name}}</h6>
              <span>{{user.user_type}}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'frmt-profile' %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'frmt-profile' %}">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url "frmt-faq" %}">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url "frmt-logout" %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->



  {% if user.user_type == None or user.user_type == 'Admin' %}
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">
  
        <li class="nav-item">
          <a class="nav-link " href="{% url "frmt-home" %}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li><!-- End Dashboard Nav -->
  
        <li class="nav-heading">Pages</li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-users' %}">
            <i class="bi bi-person-fill"></i>
            <span>Users</span>
          </a>
        </li><!-- End Users Page Nav -->
      
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-businesses' %}">
            <i class="bi bi-building"></i>
            <span>Businesses</span>
          </a>
        </li><!-- End Businesses Page Nav -->
      
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-transactions' %}">
            <i class="bi bi-cash"></i>
            <span>Transactions</span>
          </a>
        </li><!-- End Transactions Page Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-c-instances' %}">
            <i class="bi bi-cash"></i>
            <span>Collection Instances</span>
          </a>
        </li><!-- Collection Instances Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-properties' %}">
            <i class="bi bi-house"></i>
            <span>Properties</span>
          </a>
        </li><!-- Properties Page  Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-market' %}">
            <i class="bi bi-clipboard-data"></i>
            <span>Market Collections</span>
          </a>
        </li><!-- Market Page Nav -->
  
        


        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-logout' %}">
            <i class="bi bi-box-arrow-left"></i>
            <span>Logout</span>
          </a>
        </li><!-- End Login Page Nav -->
        {% else %}
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-login' %}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
          </a>
        </li><!-- End Logout Page Nav -->
        {% endif %}
        
  
      </ul>
  
    </aside><!-- End Sidebar-->

  {% endif %}




  {% if user.user_type == "Council Official" %}
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">
  
        <li class="nav-item">
          <a class="nav-link " href="{% url "frmt-home" %}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li><!-- End Dashboard Nav -->
  
        <li class="nav-heading">Pages</li>
  
      
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-businesses' %}">
            <i class="bi bi-building"></i>
            <span>Businesses</span>
          </a>
        </li><!-- End Businesses Page Nav -->
      
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-transactions' %}">
            <i class="bi bi-cash"></i>
            <span>Transactions</span>
          </a>
        </li><!-- End Transactions Page Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-c-instances' %}">
            <i class="bi bi-cash"></i>
            <span>Collection Instances</span>
          </a>
        </li><!-- Collection Instances Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-properties' %}">
            <i class="bi bi-house"></i>
            <span>Properties</span>
          </a>
        </li><!-- Properties Page  Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-market' %}">
            <i class="bi bi-clipboard-data"></i>
            <span>Market Collections</span>
          </a>
        </li><!-- Market Page Nav -->
  
        


        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-logout' %}">
            <i class="bi bi-box-arrow-left"></i>
            <span>Logout</span>
          </a>
        </li><!-- End Login Page Nav -->
        {% else %}
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-login' %}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
          </a>
        </li><!-- End Logout Page Nav -->
        {% endif %}
        
  
      </ul>
  
    </aside><!-- End Sidebar-->
  
  {% endif %}








  {% if user.user_type == "Collector" %}
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">
  
        <li class="nav-item">
          <a class="nav-link " href="{% url "frmt-home" %}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li><!-- End Dashboard Nav -->
  
        <li class="nav-heading">Pages</li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-my-c-instances' %}">
            <i class="bi bi-cash"></i>
            <span>My Collection Instances</span>
          </a>
        </li><!-- My Collection Instances Pages Nav -->

  
  
  
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-logout' %}">
            <i class="bi bi-box-arrow-left"></i>
            <span>Logout</span>
          </a>
        </li><!-- End Login Page Nav -->
        {% else %}
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-login' %}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
          </a>
        </li><!-- End Login Page Nav -->
        {% endif %}
        
  
      </ul>
  
    </aside><!-- End Sidebar-->
  {% endif %}



  {% if user.user_type == "Revenue Creator" %}
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">
  
        <li class="nav-item">
          <a class="nav-link " href="{% url "frmt-home" %}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li><!-- End Dashboard Nav -->
  
        <li class="nav-heading">Pages</li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-logout' %}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Revenue Types</span>
          </a>
        </li><!-- Revenue Type Creation Nav -->


        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-logout' %}">
            <i class="bi bi-box-arrow-left"></i>
            <span>Logout</span>
          </a>
        </li><!-- End Login Page Nav -->
        {% else %}
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'frmt-login' %}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
          </a>
        </li><!-- End Login Page Nav -->
        {% endif %}

      </ul>
  
    </aside><!-- End Sidebar-->
  
  {% endif %}


  
  
  
  <!--Main Area-->
  {% block content %}
    
  {% endblock content %}
  <!--End Main Area--> 





  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>FRMT</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://rydbergstarck.com/">Rydberg Starck</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
<script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>


<script>
  $(document).ready(function () {
    // Function to update the revenue card content
    function updateRevenueCard(filter) {
      // Make an AJAX request to your server to get the total amount based on the selected filter
      $.ajax({
        url: '/path/to/your/endpoint', // Replace with the actual URL of your server endpoint
        method: 'GET',
        data: { filter: filter },
        success: function (data) {
          // Update the card content with the received data
          $('.revenue-card h5.card-title span').text('| ' + filter);
          $('.revenue-card h6').text('MK' + data.total_amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        },
        error: function () {
          console.error('Error fetching data');
        },
      });
    }

    // Event listener for dropdown item clicks
    $('.dropdown-item').click(function (event) {
      event.preventDefault();
      var selectedFilter = $(this).text().trim();
      updateRevenueCard(selectedFilter);
    });

    // Initial load (default to Today)
    updateRevenueCard('Today');
  });
</script>
</body>

</html>


