{% extends "users/base_glow.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main id="main" class="main">

<section class="section dashboard">
  
<div class="col-md-6 offset-md-3">
  <!--Form-->
  <form method = "POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Collection Instance</legend>
        {{form|crispy}}
    </fieldset>
    <div>
        <button class="btn btn-outline-info" type="submit">Create</button>
    </div>
  </form>
  <!--End Form-->
</div>

</section>
</main>


{% endblock content %}
