{% extends "users/base_glow.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main id="main" class="main">

<section class="section dashboard">
  
<div class="col-md-6 offset-md-3">
  <form class="row g-3 needs-validation" method="POST">
    {% csrf_token %}

    <fieldset class="form-group">
      <legend class="border-bottom mb-4">New User Form</legend>
      {{ form|crispy }}
    </fieldset>

    <div class="col-12">


      <button class="btn btn-primary w-100" type="submit">Create Account</button>


    </div>



    <div class="col-12">


      <p class="small mb-0">Account already exists? <a href="{% url "frmt-login" %}">Log in</a></p>
    </div>
  </form>
</div>

</section>
</main>


{% endblock content %}
